In [2]:
import pandas as pd

In [3]:
insurance_df = pd.read_csv('insurance_processed.csv')

In [4]:
insurance_df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

In [7]:
insurance_df.shape

(1338, 10)

In [23]:
insurance_df = insurance_df.dropna()

In [24]:
insurance_df.shape

(1338, 10)

In [12]:
insurance_df.describe()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,13270.422265,0.242152,0.242900,0.272048,0.242900
std,14.049960,0.500160,6.098187,1.205493,0.403694,12110.011237,0.428546,0.428995,0.445181,0.428995
min,18.000000,0.000000,15.960000,0.000000,0.000000,1121.873900,0.000000,0.000000,0.000000,0.000000
25%,27.000000,0.000000,26.296250,0.000000,0.000000,4740.287150,0.000000,0.000000,0.000000,0.000000
50%,39.000000,1.000000,30.400000,1.000000,0.000000,9382.033000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,16639.912515,0.000000,0.000000,1.000000,0.000000
max,64.000000,1.000000,53.130000,5.000000,1.000000,63770.428010,1.000000,1.000000,1.000000,1.000000

In [25]:
insurance_df.loc[insurance_df['charges'] == 63770.428010].count()

age                 1
sex                 1
bmi                 1
children            1
smoker              1
charges             1
region_northeast    1
region_northwest    1
region_southeast    1
region_southwest    1
dtype: int64

In [27]:
median = insurance_df['charges'].median()

median

9382.033

In [28]:
(insurance_df['charges'] - median) > 0

0        True
1       False
2       False
3        True
4       False
        ...
1333     True
1334    False
1335    False
1336    False
1337     True
Name: charges, Length: 1338, dtype: bool

In [29]:
insurance_df['above_median'] = (insurance_df['charges'] - median) > 0

In [30]:
insurance_df.sample(5)

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest,above_median
908,63,1,39.800,3,0,15170.06900,0,0,0,1,True
1055,55,1,27.645,0,0,10594.50155,0,1,0,0,True
943,19,1,22.610,0,0,1628.47090,0,1,0,0,False
247,24,1,35.860,0,0,1986.93340,0,0,1,0,False
919,35,0,34.210,1,0,5245.22690,0,0,1,0,False

In [32]:
X = insurance_df.drop(['charges', 'above_median'], axis=1)
Y = insurance_df['above_median']

In [33]:
X.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [34]:
Y.sample(10)

435      True
865     False
663     False
1300     True
720      True
152     False
284      True
813     False
980      True
187     False
Name: above_median, dtype: bool

In [35]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [36]:
x_train.shape, x_test.shape

((1070, 9), (268, 9))

In [37]:
y_train.shape, y_test.shape

((1070,), (268,))

### Train a logistic regression model for price classification

In [38]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [39]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.908411214953271

In [40]:
y_pred = logistic_model.predict(x_test)

In [ ]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

In [41]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

     predicted  actual
949       True    True
976      False   False
853       True    True
454      False   False
85        True    True
280       True    True
681      False   False
986      False   False
246       True    True
292       True    True

In [42]:
from sklearn.metrics import accuracy_score

print("Testing_score : ", accuracy_score(y_test, y_pred))

Testing_score :  0.8843283582089553

### Visualizing relationships